---
import { Image } from "astro:assets";
import SimpleDownArrow from "../../../public/icons/briefcase.png";

import Card from "../Card.astro";
const allWebsites = await Astro.glob("../../pages/websites/*.md");
---

<div id="portfolio" class="mt-[50px] pl- mx- md:pt-[50px] pt-1">
  <div
    class="p-2 text-4xl md:mt-14 mb-5 ml-5 border-t border-b 2xl:border-l border-onyx bg-aliceBlue rounded-tl rounded-bl"
  >
    <div id="container" class="flex py-1">
      <h2 class="text-carribean">Featured Works</h2>
      <div id="down-arrow" class="ml-5 w-10 h-10 opacity-80">
        <Image src={SimpleDownArrow} alt="" />
        <!-- todo: PORTFOLIO ICON, CTA TO POPUP TOOLS/ LANGUAGES USED -->
      </div>
    </div>
  </div>

  <div id="website-grid" class="grid 2xl:grid-cols-2 grid-cols-1 gap-x-3 px-5">
    {
      allWebsites.map((website) => (
        <Card
          title={website.frontmatter.title}
          postTitle={website.frontmatter.postTitle}
          url={website.url}
          githubUrl={website.frontmatter.githubUrl}
          image={website.frontmatter.image.url}
          description={website.frontmatter.description}
          websiteUrl={website.frontmatter.websiteUrl}
        />
      ))
    }
  </div>
</div>
