---
const allJS = await Astro.glob("./js/*.md");
---

<section class="bg-test1" id="js">
  {
    allJS.map((work) => (
      <div id="sq" class="opacity-80 hover:opacity-100">
        <a href={work.url} target="_blank" rel="noopener noreferrer">
          <img
            src={work.frontmatter.image.url}
            alt={work.frontmatter.image.alt}
            class=" drop-shadow-md border border-rosyBrown hover:border-cerulean hover:border-2 hover:cursor-pointer "
          />
          <div class="bg-papaya ml-1 mr-5 md:pl-4 pl-1 pr-2 pt-2 pb-3 drop-shadow-md">
            <p class="py-1 md:pr-5 pr-1 text-md">
              {work.frontmatter.description}
              <p class="text-sm text-onyx hover:underline">
                visit {work.frontmatter.title}
              </p>
            </p>
          </div>
        </a>
      </div>
    ))
  }
</section>
