---
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import MainLayout from "../layouts/MainLayout.astro";
// import JournalIcon from "../images/JournalIcon.png";
// import Image from "astro/components/Image.astro";

const allWorks = await Astro.glob("./works/*.md");
---

<!-- TODO CURRENTLY: TEST FOR USING MARKDOWN FOR JOURNAL -->
<MainLayout>
  <!-- ABOUT SECTION -->
  <About />
  <section>
    <div id="portfolio" class="h-screen pt-5">
      <div id="container" class="py-5 my-5">
        <div id="grid-wrapper" class="2xl:px-[51px] px-5">
          <div
            id="grid"
            class="mt-1 pt-1 grid 2xl:grid-cols-2 grid-cols-1 gap-x-8 md:px-5 px-1"
          >
            {
              allWorks.map((work) => (
                <div id="sq" class="opacity-80 hover:opacity-100 ">
                  <a href={work.url}>
                    {/* <a href={work.frontmatter.websiteUrl}> */}
                    <span class="font-medium">
                      {work.frontmatter.category}.
                    </span>{" "}
                    <img
                      src={work.frontmatter.image.url}
                      alt={work.frontmatter.image.alt}
                      class="drop-shadow-md border border-rosyBrown hover:border-cerulean hover:border-2 hover:cursor-pointer  w-full"
                    />
                    {/* </a> */}
                    <div class="bg-papaya ml-1 mr-5 pl-4 pr-2 pt-2   pb-3 drop-shadow-md">
                      <h2 class="md:text-2xl text-xl -2">
                        {work.frontmatter.title}
                      </h2>
                      <p class="py-1 text-md">
                        {work.frontmatter.description}

                        <p>
                          View website progress{" "}
                          <span class="text-onyx hover:underline">here</span>{" "}
                        </p>
                      </p>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <!-- </section> -->
    <!-- CONTACT SECTION -->
    <Contact />
  </section>
</MainLayout>
