---
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Contact from "../components/sections/Contact.astro";
import SiteCard from "../components/SiteCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FeaturedSite from "../components/sections/FeaturedSite.astro";

const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <div id="flex" class="flex bg-">
    <!-- LEFT SIDE v-->
    <div id="left-side" class="bg- w-2/5 border-black border-r p-5 mr-5">
      <Header />
      <About />

      <!--  -->
      <!--  -->
      <!--  -->
      <!-- TODO:  SERVICES section -->
      <!-- TODO:  CONTACT section -->
    </div>
    <!-- LEFT SIDE ^-->
    <!--!  -->
    <!-- ! -->
    <!--  !-->
    <!--!  -->
    <!-- ! -->
    <!--  !-->
    <!-- RIGHT SIDE v-->
    <div id="right-side" class="w-3/5 px-2 py-5">
      <FeaturedSite />

      <div id="creative-projects" class="bg- mt-[105px] px-5">
        <!-- <div id="container" class="mt-1 pt-1"> -->
        <p id="creative-projects-intro" class="">
          In my free time, I enjoy building out my other projects with js
          frameworks and php wp I've built javascript projects to not only
          categorize and simplify my life, but get to be creative too! For my
          other creative projects, I've also built...
        </p>
        <div id="grid" class="mt-5 pt-5 grid grid-cols-2 gap-14">
          {
            allFeaturedSites.map((work) => (
              <SiteCard
                title={work.frontmatter.title}
                image={work.frontmatter.image.url}
                alt={work.frontmatter.image.alt}
                url={work.url}
                testItem1={work.frontmatter.testItem1}
                websiteNumber={work.frontmatter.websiteNumber}
              />
            ))
          }
        </div>
        <!-- </div> -->
      </div>

      <Contact />
      <!-- RIGHT SIDE ^-->
    </div>
  </div>
</MainLayout>
