---
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import MainLayout from "../layouts/MainLayout.astro";

const allWorks = await Astro.glob("./works/*.md");
---

<!-- TODO CURRENTLY: TEST FOR USING MARKDOWN FOR JOURNAL -->
<MainLayout>
  <About />
  <section id="featured-clients">
    <div id="wrapper" class="bg-test mt-[70px] pt-5">
      <div id="container" class="py-5 my-5">
        <!-- !WTBH AND JUNGLE -->
        <!-- <SubSectionBanner title="Featured Clients" /> -->
        <div id="grid-wrapper" class="2xl:px-[50px] px-5">
          <div
            id="grid"
            class="mt-5 pt-5 grid md:grid-cols-2 grid-cols-1 2xl:gap-xpx] gap-4 2xl:px-[15px] px-0 bg-"
          >
            {
              allWorks.map((work) => (
                <div id="sq" class="">
                  <a href={work.url}>
                    <img
                      src={work.frontmatter.image.url}
                      alt={work.frontmatter.image.alt}
                      class="drop-shadow-md border border-black hover:border-2 hover:cursor-pointer lg:h-[360px] h-[300px] w-full"
                    />

                    <div class="bg-papaya border-2 hover:border border-onyx mt-5 px-4 py-3 drop-shadow-md">
                      <h2 class="text-test md:text-3xl text-2xl font- pb-2">
                        {work.frontmatter.title}
                      </h2>
                      <p class="">{work.frontmatter.description}</p>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <Contact />
</MainLayout>
