---
import MainLayout from "../layouts/MainLayout.astro";
import LeftSide from "../components/LeftSide.astro";
import SiteCard from "../components/SiteCard.astro";
import FeaturedSite from "../components/sections/FeaturedSite.jsx";

const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <div id="flex" class="flex lg:flex-row flex-col bg-">
    <LeftSide />
    <div
      id="RIGHT-SIDE"
      class="text- border-l border-onyx h-screen md:absolute relative right-0 md:w-3/5 w-full overflow-y-scroll overflow-x-hidden p-5"
    >
      <div id="" class="bg- px-5">
        <FeaturedSite />

        <div id="creative-projects" class="bg- mt-[125px] px-5">
          <p id="services" class="text-lg text-gray-500">
            In my free time, I enjoy building out my other projects with js
            frameworks and php wp I've built javascript projects to not only
            categorize and simplify my life, but get to be creative too! For my
            other creative projects, I've also built...
          </p>
          <div id="grid" class="mt-5 pt-5 grid grid-cols-2 gap-12">
            {
              allFeaturedSites.map((work) => (
                <SiteCard
                  title={work.frontmatter.title}
                  image={work.frontmatter.image.url}
                  alt={work.frontmatter.image.alt}
                  url={work.url}
                  testItem1={work.frontmatter.testItem1}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
