---
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Banner from "../components/Banner.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <About />
  <section class="2xl:mt-[0px]">
    <div id="portfolio" class="md:px-5 px-0 h- pt-5">
      <section>
        <div id="wrapper" class="2xl:mt-[71px] pt-5">
          <div id="container" class="py-5 my-5">
            <div id="featured-websites" class="text- 2xl:px-[51px] px-2">
              <div id="TestJS" class="2xl:mr-5 2xl:pr-5">
                <Banner title="Featured Websites" paragraph="" />
              </div>
              <!-- <div
                id="grid"
                class="mt-3 pt-5 md:px-5 px-1 grid grid-cols-2 gap-x-10"
              > -->
              <div id="grid-container" class="mt-5 pt-5">
                <div
                  id="grid"
                  class="mt-5 pt-5 md:px-5 px-1 grid grid-cols-1 gap-y-24"
                >
                  {
                    allFeaturedSites.map((work) => (
                      <div
                        id="sq"
                        class="2xl:pr-5 2xl:mr-5 mt-5 opacity-80 hover:opacity-100 "
                      >
                        <a href={work.url}>
                          <h3 class="text-onyx font-semibold text-xl pb-1 pl-1">
                            {work.frontmatter.title}
                          </h3>
                          <img
                            src={work.frontmatter.image.url}
                            alt={work.frontmatter.image.alt}
                            class="drop-shadow-md border-2 border-black hover:border-munsell hover:border-2 hover:cursor-pointer"
                          />
                          <div class="bg-test text-onyx bg-papaya mb-5 ml-1 mr-5 md:pl-4 pl-1 pr-2 pt-2 pb-3 drop-shadow-md">
                            <p class=" text-md">
                              {work.frontmatter.description}
                              <button class="underline text-sm  py-1">
                                read more
                              </button>
                            </p>
                          </div>
                        </a>
                      </div>
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <Contact />
      </section>
    </div>
  </section>
</MainLayout>
