---
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Banner from "../components/Banner.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SiteCard from "../components/SiteCard.astro";
const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <About />
  <div class="2xl:mt-[0px]">
    <div id="portfolio" class="md:px-5 px-0 h- pt-5">
      <div id="wrapper" class="2xl:mt-[71px] pt-5">
        <div id="container" class="py-5 my-5">
          <div id="featured-websites" class="text- 2xl:px-[51px] px-2">
            <Banner title="Featured Websites" paragraph="" />
            <div id="websites-grid-container" class="bg-test2 mt-1 pt-1">
              <div
                id="websites-grid"
                class="bg- mt-5 pt-5 px-1 grid grid-cols-1 gap-y-24"
              >
                {
                  allFeaturedSites.map((work) => (
                    <SiteCard
                      title={work.frontmatter.title}
                      image={work.frontmatter.image.url}
                      alt={work.frontmatter.image.alt}
                      url={work.url}
                      testItem1={work.frontmatter.testItem1}
                      testItem2={work.frontmatter.testItem2}
                      testItem3={work.frontmatter.testItem3}
                      testItem4={work.frontmatter.testItem4}
                    />
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <Contact />
    </div>
  </div>
</MainLayout>
