---
import MainLayout from "../layouts/MainLayout.astro";
import Contact from "../components/sections/Contact.astro";
const programmingLanguages = await Astro.glob("./specialties/*.md");
const whoIHelp = await Astro.glob("./whoIHelp/*.md");
import Card from "../components/ui/Card.astro";
import LeftPanel from "../layouts/LeftPanel.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>
  <div id="homepage-wrapper" class="">
    <LeftPanel />
    <div
      id="RIGHT-PANEL"
      class="text- md:pr-5 font-medium 2xl:h-screen h-full md:absolute relative right-0 md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden xl"
    >
      <!-- <div
        id="all-works"
        class="bg- opacity-80 hover:opacity-100 p-5 md:mr-2 mt-[155px] md:px-5 md:mx-5"
      >
        <p
          id="services"
          class="text-4xl text-onyx py-2 border-black border-b w-1/2 mb-5"
        >
          My main expertise is in ...
        </p>
        <div id="grid" class="bg- pl-1 pr-3 grid 2xl:grid-cols-2 gap-5">
          {
            programmingLanguages.map((work) => (
              <Card
                title={work.frontmatter.title}
                image={work.frontmatter.image.url}
                alt={work.frontmatter.image.alt}
                url={work.url}
                testItem1={work.frontmatter.testItem1}
                language={work.frontmatter.language}
                backend={work.frontmatter.backend}
              />
            ))
          }
        </div>
      </div> -->
      <div id="CONTAINER" class="bg- mt-[75px] mx-5">
        <section class="bg- m-5 md:pt-5 md:p-5">
          <div id="" class="bg- 2xl:mx-5 mt-[150px]">
            <div id="" class="bg-">
              <div class="pb-2">
                <h1 class="text-3xl font-semibold text-gray-600">
                  Hi there, I'm Elsa.
                </h1>
                <p class="text-xl pr-2 py-2 mb-5">
                  I weave interesting stories and web development together. I
                  dabble in web design and software development. These are my
                  four most featured website projects ❤️.
                </p>

                <div
                  id="cards-container"
                  class="bg- flex flex-col gap-y-24 mt-[100px] pt-5 pl-2 2xl:mr-5"
                >
                  {
                    whoIHelp.map((help) => (
                      <Card
                        title={help.frontmatter.title}
                        image={help.frontmatter.image.url}
                        alt={help.frontmatter.image.alt}
                        url={help.url}
                        testItem1={help.frontmatter.testItem1}
                        language={help.frontmatter.language}
                        backend={help.frontmatter.backend}
                      />
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <Contact />
      <Footer />
    </div>
  </div>
</MainLayout>
