---
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allWebsites = await Astro.glob("../pages/websites/*.md");
---

<MainLayout class="">
  <Banner title="Projects" />
  <div id="portfolio-wrapper" class="flex justify-center">
    <div id="portfolio-grid" class="grid grid-cols-2 gap-5">
      {
        allWebsites.map((website) => (
          <div class="w-[570px]">
            <Card
              title={website.frontmatter.title}
              websiteTag={website.frontmatter.websiteTag}
              url={website.url}
              githubUrl={website.frontmatter.githubUrl}
              image={website.frontmatter.image.url}
              description={website.frontmatter.description}
              websiteUrl={website.frontmatter.websiteUrl}
            />
            <div />
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
