---
import { Image } from "astro:assets";
import Img1 from "../../public/icons/github.png";
import Img2 from "../../public/icons/file.png";
export interface Props {
  title: string;
  postTitle: string;
  image: any;
  description: string;
  url: any;
  websiteUrl: any;
  githubUrl: any;
}

const { title, image, description, url, websiteUrl, githubUrl } =
  Astro.props as Props;
---

<div class="lg:px-5 md:px-2 px-0 pb-5">
  <div class="pb-1 flex">
    <div id="text-bold" class="mr-3 font-semibold flex flex-col mt-5 pt-5">
      <h3 class="text-xl capitalize font-bold text-aliceBlue">
        {title}
      </h3>
    </div>
  </div>

  <a href={url} class="">
    <img
      src={image}
      alt=""
      class="border border-black drop-shadow-3xl rounded w-full"
    />
    <div id="card-body" class="mt-1 p-1">
      <div id="icons" class="flex space-x-2 opacity-90">
        <a href={websiteUrl} class="hover:opacity-80">
          <Image src={Img2} alt="visit" class="w-[27px]" />
        </a>
        <a href={githubUrl} class="hover:opacity-70">
          <Image src={Img1} alt='github""' class="w-[27px] ml-1" />
        </a>
      </div>
      <div class="mb-5 pl-2 pt-1 text-parchment">
        <a href={url}>
          <p>
            {description}
          </p>
        </a>
      </div>
    </div>
  </a>
</div>
