---
export interface Props {
  title: string;
  url: any;
  image: any;
  description: string;
  websiteUrl: any;
}

const { title, image, url, description, websiteUrl } = Astro.props as Props;
---

<div class="md:px-5 px-0">
  <div class="pb-1 flex rounded-tr-lg rounded-tl-lg">
    <h3 id="text-bold" class="text-2xl mr-3 font-semibold">
      {title}
    </h3>
    <a href={url} class="">
      <p class="hover:text-parchment hover:bg-cerulean px-2 py-1">
        <i>-{description}</i>
      </p>
    </a>
  </div>

  <a href={websiteUrl} class="">
    <img
      src={image}
      alt=""
      class="border-2 border-onyx drop-shadow-3xl rounded-md opacity-70 hover:opacity-100"
    />
    <p class="hover:text-aquamarine hover:bg-carribean w-24 mt-1 p-1">
      <i>-visit site-</i>
    </p>
  </a>
  <!-- <section id="link-icons">
    <div>github</div>
    <div>view journal</div>
  </section> -->
  <!-- <p class="p-1">{description}</p> -->
</div>
