---
 import { Image } from 'astro:assets';
export interface Props {
    title: string;
    // p: string;
    url: any;
    SiteImg: any;
}

 const { title, SiteImg, url
 } = Astro.props as Props

//  import FileIcon from "./public/icons/current/folder.png"
---
<>
<a href={url} class="px-1 pl-3 text-onyx text-lg">
<div class="flex items-center space-x-2">
        <!-- <Image
        class="ml-1 mb-1 w-[35px] drop-shadow-3xl opacity-90"
        src= {FileIcon}  
        alt={title}
      /> -->
 <h3 class="border-t border-l border-r border-onyx text-munsell hover:text-white rounded-tr-lg rounded-tl-lg bg-onyx py-1 px-5">{title}</h3>
</div>
<img src={SiteImg} alt="" class="border-2 border-onyx drop-shadow-3xl rounded-tr-lg rounded-br-lg rounded-bl-lg" />
</a>
</>