---
export interface Props {
  title: string;
  url: any;
  SiteImg: any;
}

const { title, SiteImg, url } = Astro.props as Props;

import { Image } from "astro:assets";
import Github from "./public/icons/current/github.png";
import FileIcon from "./public/icons/current/folder.png";
---

<div class="md:px-5 px-0">
  <div class="pb-1 flex rounded-tr-lg rounded-tl-lg">
    <h3 id="text-bold" class="text-2xl mr-3 font-semibold">
      {title}
    </h3>
    <Image
      class="ml-1 mb-1 mr-2 w-[30px] drop-shadow-3xl opacity-80"
      src={Github}
      alt={title}
    />
    <Image
      class="ml-1 mb-1 mr-2 w-[30px] drop-shadow-3xl opacity-80"
      src={FileIcon}
      alt={title}
    />
  </div>
  <!-- <p>This is the website description</p> -->

  <a href={url} class="">
    <img
      src={SiteImg}
      alt=""
      class="border-2 border-onyx drop-shadow-3xl rounded-md opacity-70 hover:opacity-100"
    />
  </a>
</div>
