---
 import { Image } from 'astro:assets';
export interface Props {
    title: string;
    // p: string;
    url: any;
    SiteImg: any;
}

 const { title, SiteImg, url
 } = Astro.props as Props

 import FileIcon from "./public/icons/current/folder.png"
---
<>
<a href={url} class="px-1 pl-3 hover:text-aquamarine text-xl">
<div class="flex items-center space-x-2 mt-5 pl-1">
        <Image
        class="ml-1 mb-1 w-[35px] drop-shadow-3xl opacity-90"
        src= {FileIcon}  
        alt={title}
      />
 <p class="">{title}</p>
</div>
<img src={SiteImg} alt="" class="drop-shadow-3xl border-2 border-onyx" />
</a>
</>