---
import { Image } from 'astro:assets';

export interface Props {
    title: string;
    p: string;
    image: any;
    iconImg: any;
    
}

const { title, iconImg, image } = Astro.props as Props
---


<div class="my-5">
    <a
    class="hover:opacity-80 hover:ease-in duration-300"
    href="/"
  >
  <div id="title-bar" class="flex items-center mt-5 pl-1">
    <div class="">
 
  <Image
  class="ml-1 mb-1 w-[35px] drop-shadow-3xl"
  src= {iconImg}  
  alt={title}
/>
</div>
     <h3 class="px-1 pl-3 hover:text-aquamarine">{title}</h3>
    </div>
  
    <div class="pb-1 pl-1">
        <!-- <span class="text-aquamarine text-2xl">{p}</span> -->
        <Image
        class="2xl:w-[1020px] w-full drop-shadow-3xl border-2 border-onyx"
        src={image}
        alt={title}
      />
    </a>
     </div>
    </div> 