---
export interface Props {
  title: string;
  url: any;
  SiteImg: any;
}

const { title, SiteImg, url } = Astro.props as Props;

import { Image } from "astro:assets";
import OpenBook from "./public/icons/current/open-book.png";
import FileIcon from "./public/icons/current/folder.png";
---

<div class="px-5">
  <a href={url} class="px-1 pl-3 text-onyx text-lg">
    <div class="">
      <h3 class="flex hover:text-white rounded-tr-lg rounded-tl-lg py-1 px-1">
        <div class="flex xl:flex-row flex-col">
          <span id="text-bold" class="mr-3 font-semibold">
            {title}
          </span>
          <i>-visit the website case study</i>
        </div>
        <!-- <Image
        class="ml-1 mb-1 mx-1 w-[30px] drop-shadow-3xl opacity-90"
        src= {FileIcon}  
        alt={title}
      />
      <Image
      class="ml-1 mb-1 mx-1 w-[30px] drop-shadow-3xl opacity-90"
      src= {FileIcon}  
      alt={title}
    /> -->
      </h3>
    </div>
    <img
      src={SiteImg}
      alt=""
      class="border-2 border-onyx drop-shadow-3xl rounded-md opacity-70 hover:opacity-100"
    />
  </a>
</div>
