---
import { Image } from "astro:assets";
import ProfilePic from "../../public/eh-img.jpg";
import Icon1 from "../../public/icons/github.png";
import Icon2 from "../../public/icons/linkedin.png";

const items = [
  {
    title: "Projects",
    // title: "Blog Archive",
    link: "/#projects",
  },
  {
    title: "Work with me",
    link: "/work-with-me",
  },
  {
    title: "Contact",
    link: "/contact",
  },
];
---

<!-- <div id="MOBILE-WRAPPER" class=""> -->
<header
  class="pb-[45px] 2xl:fixed relative md:left-0 top-0 z-50 h-screen 2xl:w-1/4 w-full md:border-r-2 border-b-2 border-black bg-munsell"
>
  <nav
    class="_shadowText text-lg text-white dropshadow-3xl p-2 w-full absolute z-10 bottom-0 bg-"
  >
    <h1 class="">
      <span class="text-4xl semi-bold">
        <a href="/" class="text-">Portfolio</a>
      </span>

      <!--?? ADD ICON?? <a href="/" class="text-aquamarine">- Portfolio/ Journal</a> -->
    </h1>
    <p class="text-aquamarine text-xl py-1 mb-1 pl-1">
      I'm Elsa, a web developer located in Joshua Tree, CA
    </p>
    <button class="pl-1 2xl:hidden">
      <a href="/#HERO-CTA">About</a>
    </button>

    {
      items.map((item) => (
        <ul class="pl-1">
          <li class="hover:text-munsell">
            <a href={item.link}>{item.title}</a>
          </li>
        </ul>
      ))
    }

    <ul id="sm-icons" class="flex gap-x-2 mt-3">
      <li class="bg-test">
        <Image src={Icon1} alt="" width={32} height={32} />
        <li>
          <Image src={Icon2} alt="" width={32} height={32} />
        </li>
      </li>
    </ul>
  </nav>
  <Image src={ProfilePic} alt="" class="absolute bottom-0 z-0 h-full" />
</header>
<!-- </div> -->
