---
import { Image } from "astro:assets";
import ProfilePic from "../../public/eh-img.jpg";
import Icon1 from "../../public/icons/github.png";
import Icon2 from "../../public/icons/linkedin.png";

const items = [
  {
    title: "Featured Works",
    link: "/#projects",
  },
  {
    title: "Work with me",
    link: "/work-with-me/#work-with-me",
  },
  {
    title: "Contact",
    link: "/contact/#contact",
  },
];
---

<header
  class="bg-carribean pb-[45px] md:fixed relative md:left-0 top-0 z-50 h-screen 2xl:w-1/4 lg:w-[390px] md:w-[345px] w-full md:border-r-2 border-b-2 border-black"
>
  <nav
    class="_shadowText1 text-white dropshadow-3xl text-xl pl-4 w-full absolute z-10 bottom-0"
  >
    <h1 class="pb-3">
      <a href="/" class="text-aquamarine"
        ><span class="text-5xl">Elsa Hovey </span><br />
        <span class="text-munsell py-1 pb-1 text-2xl"
          >Web Development <br />Design</span
        >
      </a>
    </h1>

    {
      items.map((item) => (
        <ul class="">
          <li class="hover:text-test1 text-">
            <a href={item.link}>{item.title}</a>
          </li>
        </ul>
      ))
    }
    <!-- ?? UNSURE ABOUT USAGE v -->
    <!-- <ul id="sm-icons" class="flex gap-x-2 mt-3">
      <li class="bg-test">
        <Image src={Icon1} alt="" width={32} height={32} />
        <li>
          <Image src={Icon2} alt="" width={32} height={32} />
        </li>
      </li>
    </ul> -->
    <!-- ?? UNSURE ABOUT USAGE ^ -->
  </nav>
  <Image
    src={ProfilePic}
    alt=""
    class="absolute bottom-0 z-0 h-screen border border-t-black"
  />
</header>
