---
import { Image } from "astro:assets";
import ProfilePic from "../../public/eh-img.jpg";
import Icon1 from "../../public/icons/github.png";
import Icon2 from "../../public/icons/linkedin.png";

const items = [
  {
    title: "Portfolio",
    // title: "Blog Archive",
    link: "/",
  },
  {
    title: "Work with me",
    link: "/work-with-me",
  },
  {
    title: "Contact",
    link: "/contact",
  },
];
---

<header
  class="bg-carribean pb-[45px] md:fixed relative md:left-0 top-0 z-50 h-screen 2xl:w-1/4 md:w-[340px] w-full md:border-r-2 border-b-2 border-black"
>
  <nav
    class="_shadowText text-white dropshadow-3xl text-xl p-2 w-full absolute z-10 bottom-0 bg-"
  >
    <h1 class="">
      <!--?? ADD ICON?? <a href="/" class="text-aquamarine">- Portfolio/ Journal</a> -->
    </h1>
    <p class="mb-1 pl-1 text-xl">
      <span class="text-2xl">Hi there, I'm Elsa...</span><br />a web developer
      located in High Desert, CA
    </p>
    <button class="pl-1 2xl:hidden">
      <a href="/#HERO-CTA">About</a>
    </button>
    {
      items.map((item) => (
        <ul class="pl-1">
          <li class="hover:text-munsell">
            <a href={item.link}>{item.title}</a>
          </li>
        </ul>
      ))
    }

    <ul id="sm-icons" class="flex gap-x-2 mt-3">
      <li class="bg-test">
        <Image src={Icon1} alt="" width={32} height={32} />
        <li>
          <Image src={Icon2} alt="" width={32} height={32} />
        </li>
      </li>
    </ul>
  </nav>
  <Image
    src={ProfilePic}
    alt=""
    class="absolute bottom-0 z-0 h-screen xl:h-[100%]] border border-t-black"
  />
</header>
