---
import { Image } from "astro:assets";
import lc from "../images/lc.jpg";
import rq from "../images/rq.png";
import wtbh from "../images/wtbh.png";
import jungle from "../images/jungle.png";
import FileOpen from "../../public/icons/file.png";
import Github from "../../public/icons/github.png";

const projects = [
  {
    title: "Laughing Coyote Dev",
    screenshot: lc,
    p: "list the languages, tools... an online resource to help small businesses get their website started. Laughing coyote is going to be a resource for small business owners. I wanted to find a way to simplify the process and reduce the overwhelm of figuring out how to build a website, use a website, and market yourself... all on top of worrying about your own business.",
    description:
      "Laughing Coyote Dev- going to be a resource for small business owners.",
    url: "https://laughingcoyote.dev",
    github: "https://github.com/elsahv/--LC-astro",
  },
  {
    title: "The Running Quail",
    screenshot: rq,
    p: "an online bulletin board for the Morongo Basin Community.atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "RQ is going to be a resource for small business owners.",
    url: "https://therunningquail.com",
    github: "https://github.com/elsahv/-the-running-quail",
  },
  {
    title: " Writing to Better Health",
    screenshot: wtbh,
    p: "ADD mindmap/diagrams for bettering health - thru WTBH. atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "ADD mindmap/diagrams for bettering health - thru WTBH",
    url: "https://writingtobetterhealth.com",
    github: "https://github.com/elsahv/writing-to-better-health",
  },
  {
    title: "The Indoor Jungle Project",
    screenshot: jungle,
    p: "a horror-themed botany journal. atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "a horror-themed botany journal.",
    url: "https://theindoorjungleproject.com",
    github: "https://github.com/elsahv/-the-indoor-jungle-project",
  },
];
---

<div class="p-5">
  {
    projects.map((website: any) => (
      <div id="sq-wrapper" class="pb-5 my-[120px] my pl-4">
        <div id="sq" class="xl:px-5 px-0 m-5 mb-[45px] dropshadow-lg">
          <a href={website.url}>
          <div id="website-screenshot-wrapper" class="">
                      <Image
                        src={website.screenshot}
                        alt=""
                        class="m-5 border-2 border-black hover:border-carribean opacity-80 hover:opacity-100 rounded-md"
                      />
          </div>
            <div id="content-wrapper" class="bg-test px-5 bg-test">
              <div id="content-container" class="px-5">
              <div id="sm-icons" class="flex space-x-2">
                <a href={website.url}>
                  <div id="btn-wrapper" class="flex">
                    <Image
                      src={FileOpen}
                      alt="view website"
                      class="w-8 h-8 opacity-80 hover:opacity-60"
                    />
                  </div>
                </a>
                <a href={website.github}>
                  <div id="btn-wrapper" class="flex bg-">
                    <Image
                      src={Github}
                      alt="view github"
                      class="w-8 h-8 opacity-80 hover:opacity-60"
                    />
                  </div>
                </a>
              </div>
              <div id="words-wrapper" class="ml-1 py-2">
                <!-- TODO: MAKE HOVER TEXT/BG-  COLOR CHANGES CONDITIONAL v-->
                            <h2 class="font-bold pl-1 mt-1 pt-1"> {website.title}</h2>
                <p class=" m-1 pr-3 opacity-90">{website.p}</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    ))
  }
</div>
