---
import { Image } from "astro:assets";
import lc from "../images/lc.jpg";
import rq from "../images/rq.png";
import wtbh from "../images/wtbh.png";
import jungle from "../images/jungle.png";
import FileOpen from "../../public/icons/file.png";
import Github from "../../public/icons/github.png";
import Banner from "./Banner.astro";
const today = new Date();

const projects = [
  {
    title: "Laughing Coyote Dev",
    screenshot: lc,
    p: "Hi there, I'm Elsa! Above is my main project, the Laughing Coyote Dev, a blog and freelance service in progress. ist the languages, tools... an online resource to help small businesses get their website started. Laughing coyote is going to be a resource for small business owners. I wanted to find a way to simplify the process and reduce the overwhelm of figuring out how to build a website, use a website, and market yourself... all on top of worrying about your own business. Scroll down to see other projects!",
    description:
      "Laughing Coyote Dev- going to be a resource for small business owners.",
    url: "https://laughingcoyote.dev",
    github: "https://github.com/elsahv/--LC-astro",
  },
  {
    title: "The Running Quail",
    screenshot: rq,
    p: "an online bulletin board for the Morongo Basin Community.atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "RQ is going to be a resource for small business owners.",
    url: "https://therunningquail.com",
    github: "https://github.com/elsahv/-the-running-quail",
  },
  {
    title: "Writing to Better Health",
    screenshot: wtbh,
    p: "ADD mindmap/diagrams for bettering health - thru WTBH. atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "ADD mindmap/diagrams for bettering health - thru WTBH",
    url: "https://writingtobetterhealth.com",
    github: "https://github.com/elsahv/writing-to-better-health",
  },
  {
    title: "The Indoor Jungle Project",
    screenshot: jungle,
    p: "a horror-themed botany journal. atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "a horror-themed botany journal.",
    url: "https://theindoorjungleproject.com",
    github: "https://github.com/elsahv/-the-indoor-jungle-project",
  },
];
---
<div class="">
  <Banner title="Featured Works"/>
<div class="mt-[50px] pl-5 max-h-screen snap-y snap-mandatory overflow-y-scroll no-">
  {
    projects.map((website: any) => (
      <div id="sq-wrapper" class="pb-5 mb-[20px] pl-4 snap-start 2xl:h-screen">
        <div id="sq" class="mx-5 mb-[45px] dropshadow-lg snap-center scroll-smooth bg-test">
          <a href={website.url}>
          <div id="website-screenshot-wrapper" class="">
                      <Image
                        src={website.screenshot}
                        alt=""
                        class="m-5 border-black border-t-2 border-l-2 border-b-2 hover:border-carribean opacity-80 hover:opacity-100 rounded-bl-md rounded-tl-md"
                      />
          </div>
            <div id="content-wrapper" class="bg-test px-5">
              <div id="content-container" class="px-5">
              <div id="sm-icons" class="flex space-x-2">
                <a href={website.url}>
                  <div id="btn-wrapper" class="flex">
                    <Image
                      src={FileOpen}
                      alt="view website"
                      class="w-8 h-8 opacity-80 hover:opacity-60"
                    />
                  </div>
                </a>
                <a href={website.github}>
                  <div id="btn-wrapper" class="flex bg-">
                    <Image
                      src={Github}
                      alt="view github"
                      class="w-8 h-8 opacity-80 hover:opacity-60"
                    />
                  </div>
                </a>
              </div>
              <div id="content-wrapper" class=" ml-1 mt-3 py-2 pl-1">
                <!-- TODO: MAKE HOVER TEXT/BG-  COLOR CHANGES CONDITIONAL v-->
                            <h2 class="pt-1 font-bold mt-1 pl-1 text-lg hover:underline decoration-test1">
                              <a href={website.url}>
                               {website.title}
                               </a>
                               </h2>
                <p class=" mb-5 pl-1  bg-test opacity-90">{website.p}</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    ))
  }
</div>
 <footer id="projects-footer" class="fixed bottom-0 border-t border-r rounded-tr-sm border-black pr-1  opacity-60">
  &copy; {today.getFullYear()}
 </footer>
</div>
