---
const frontmatter = Astro.props;
const { title, image, alt, url, testItem1 } = frontmatter;
---

<div id="sq" class="opacity-70 hover:opacity-100">
  <a href={url}>
    <p class="pt-1 opacity-80">... {testItem1}</p>

    <img
      src={image}
      class="drop-shadow-xl rounded border border-gray-300"
      alt={alt}
    />
    <p class="pl-5">
      visit <span class="italic">{title}</span>
    </p>
  </a>
</div>
