---
import FileImg from "../images/file.png";

const frontmatter = Astro.props;
const { title, image, alt, websiteUrl, testItem1 } = frontmatter;
---

<div id="sq" class="py-5">
  <a href={websiteUrl} target="_blank" rel="noopener noreferrer">
    <div class="flex font-bold pt-1 pb-1 pl- pr-1 bg-">
      <!-- <Image src={FileImg} alt="" width={25} height={25} /> -->
      <h3 class="pl-1">{">"} {title}</h3>
    </div>

    <img
      src={image}
      class="opacity-80 hover:opacity-100 drop-shadow-xl border border-gray-300"
      alt={alt}
    />
  </a>
  <div class="text- pl-2 pt-1 flex">
    - {testItem1}
  </div>
</div>
