---
import Banner from "../components/Banner.astro";
const allJS = await Astro.glob("./js/*.md");
---

<div id="JS" class="bg-">
  <div id="banner-container" class="w-1/2">
    <Banner
      title="JavaScript Projects"
      paragraph="These 2 of my most ambitious projects, both build with JS frameworks, sit amet consectetur adipisicing. dolore qui, at debitis exercitationem sed, maxime quidem "
    />
  </div>
  <div class="mt-3 pt-5 gap-y-[80px] gap-x-12 md:px-5 px-1">
    {
      allJS.map((work) => (
        <div id="sq" class="opacity-80 hover:opacity-100">
          <a href={work.url}>
            <img
              src={work.frontmatter.image.url}
              alt={work.frontmatter.image.alt}
              class="w-3/4   drop-shadow-md border border-black hover:border-parchment hover:border-2 hover:cursor-pointer "
            />
            <div class="bg-papaya ml-1 mr-5 md:pl-4 pl-1 pr-2 pt-2 pb-3 drop-shadow-md">
              <p class="py-1 md:pr-5 pr-1 text-md">
                {work.frontmatter.description}
                <p class="text-sm text-onyx hover:underline">
                  visit {work.frontmatter.title}
                </p>
              </p>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>
