---
import {Image} from "astro:assets";
import Img1 from "./public/screenshots/lc.png";
import Img2 from "./public/screenshots/rq.png";
import Img3 from "./public/screenshots/wtbh.png";
import Img4 from "./public/screenshots/jungle.png";
import Sun from "./public/icons/current/folder.png";
import DownArrow from "./public/icons/current/down-arrow.png";
import Card from './Card.astro'

const posts = [
  {
    title: "Laughing Coyote Dev",
    image: Img1,
    iconImg: Sun,
    url: "http://laughingcoyote.dev",
    p: "- the start of a freelancing website for small business/ creative websites",
    github: "https://github.com/elsahv/laughing-coyote-dev",
  },
  {
    title: "The Running Quail",
    image: Img2,
    iconImg: Sun,
    url: "http://therunningquail.com",
    p: " currently a survey/ blog for a future Morongo Basin community website",
    github: "https://github.com/elsahv/-the-running-quail",
  },
  {
    title: "The Indoor Jungle Project",
    image: Img4,
    iconImg: Sun,
    url: "http://theindoorjungleproject.com",
    p: "currently a blog about plants and house projects",
    github: "https://github.com/elsahv/php-template-blog",
  },
  {
    title: "Writing to Better Health",
    image: Img3,
    iconImg: Sun,
    url: "http://writingtobetterhealth.com",
    p: "A blog template for now, and future blog regarding nutrition and mental wellness",
    github: "https://github.com/elsahv/writing-to-better-health",
  },
];
--- 

    <h2 class="lg:text-5xl text-4xl md:mt-14 pt-5 underline ml text-onyx">Portfolio</h2>
<div class="mt-2 text-onyx">
  <p class="md:text-2xl text-md py-1">
    Listed below are some of my featured websites projects, all currently a
    work in progress. Click on each folder image to view descriptions. 
  </p>
  <button class="md:w-9 w-7 py-1">
    <Image src={DownArrow} alt="" class="">
    </button>
    
  </div>
  <div id="website-grid" class="mb-5 grid 2xl:grid-cols-2 grid-cols-1 gap-x-6 md:gap-y-12 gap-y-1">
    {posts.map((item) => (
      <!-- * https://www.youtube.com/watch?v=5Xri4ZdfnAo v -->
      <!-- todo: DECIDE IMG OVERLAY EFFECTS v -->
      <Card title={item.title} p={item.p} image={item.image} iconImg={item.iconImg} />
      <!-- todo end: DECIDE IMG OVERLAY EFFECTS ^ -->
    ))}
  </div>

