---
import {Image} from "astro:assets";
import Img1 from "./public/screenshots/lc.png";
import Img2 from "./public/screenshots/rq.png";
import Img3 from "./public/screenshots/wtbh.png";
import Img4 from "./public/screenshots/jungle.png";
// import { MdFileOpen } from "react-icons/md";
// import { FaGithub } from "react-icons/fa";

const posts = [
  {
    website: 'Laughing Coyote',
    title: "small businesses",
    image: Img1,
    url: "http://laughingcoyote.dev",
    p: "Laughing Coyote Dev- the start of a freelancing website for small business/ creative websites",
    github: "https://github.com/elsahv/laughing-coyote-dev",
  },
  {
    website: 'The Running Quail',
    title: "high desert locals and enthusiasts",
    image: Img2,
    url: "http://therunningquail.com",
    p: "The Running Quail- currently a survey/ blog for a future Morongo Basin community website",
    github: "https://github.com/elsahv/-the-running-quail",
  },
  {
    website: 'The Indoor Jungle Project',
    title: "wordpress users",
    image: Img4,
    url: "http://theindoorjungleproject.com",
    p: "The Indoor Jungle Project- currently a blog about plants and house projects",
    github: "https://github.com/elsahv/php-template-blog",
  },
  {
    website: 'Writing to Better Health',
    title: "and dietitians/ nutritionists",
    image: Img3,
    url: "http://writingtobetterhealth.com",
    p: "Writing to Better Health- A blog template for now, and future blog regarding nutrition and mental wellness",
    github: "https://github.com/elsahv/writing-to-better-health",
  },
];


--- 

<style>
  p{ 
    padding: 20PX;
  }
</style>
<!-- todo: websites nav links v -->
<div class="2xl:mt-[155px] md:mt-[50px] mt-1">
  <div id="website-navigation" class="flex space-x-4">
    <div class="text-aquamarine py-2 px-3 flex items-center bg-onyx rounded">All featured sites</div>
    
  {posts.map((post) => (
    <div class="bg-onyx text-aquamarine py-2 px-3 rounded-md">{post.website}</div>
  ))}
  </div>
  <div class="flex items-center text-4xl">
<!-- todo: websites nav links ^ -->
    
    <h2 class="mt-5 pt-5 underline ml-3 text-onyx">Portfolio</h2>
  </div>
  <p class="text-2xl text-onyx">
    Listed below are some of my featured websites projects, all currently a
    <span class="underline px-1">work in progress.</span>
    These websites are being built to assist...
  </p>
<div id="website-grid" class="grid grid-cols-2 gap-x-6 gap-y-8 mt-5">

    {posts.map((item) => (
        <div
          id="sq"
          class=""
        >
          <a
            class="hover:opacity-80 hover:ease-in duration-300"
            href={item.url}
          >
            <Image
              class="2xl:w-[850px] w-full rounded-lg drop-shadow-3xl border-2 border-black"
              src={item.image}
              alt={item.title}
            />
          </a>
        </div>
    ))}
  </div>