---
import Footer from "../components/Footer.astro";
import Websites from "../components/Websites.astro";
import DownArrow from "./public/icons/current/down-arrow.png";
import OpenBook from "./public/icons/current/open-book.png";
import {Image} from "astro:assets";
import FileIcon from "./public/icons/current/folder.png"


const allWebsites = await Astro.glob('../pages/websites/*.md')


---
<section id="right-panel" class="overflow-y-scroll overflow-x-hidden md:absolute relative right-0 md:top-0 bottom-0 md:w-3/5 w-full md:h-screen h-[100%] bg-munsell text-onyx">
  <div class="md:m-3 my-1 mx-1 pl-3 py-[20px] pr-[10px] mt-[70px]">
    <p class="lg:text-2xl text-md mt-2 pt-1 pb-3">
      Listed below are some of my featured websites projects, all currently a
      work in progress. Click on each folder image to view descriptions. 
    </p>  
    <div id="btn-wrapper" class="mb-5">
    <button class="md:w-9 w-7 py-1">
      <a href="/#websites">
      <Image src={DownArrow} alt="" class="">
      </a>
      </button>
      <button class="md:w-9 w-7 py-1 ml-3 hover:opacity-9"> 
        <a href="/blog">
        <Image src={OpenBook} alt="" class="">
        </a>
        </button> 
      </div>
      
      <div id="website-grid" class="mb-5 grid 2xl:grid-cols-2 grid-cols-1 gap-x-6 md:gap-y-12 gap-y-1">
{allWebsites.map((website) => <li class="list-none">
    
 <div id="card">
<a href={website.url} class="px-1 pl-3 hover:text-aquamarine text-xl">
  
  <div class="flex items-center mt-5 pl-1">
  <Image src={FileIcon} alt="" class="mr-2 mb-1 w-[35px] drop-shadow-3xl opacity-90" />
  {website.frontmatter.title} 
</div>

    <img src={website.frontmatter.image.url} alt="" class="2xl:w-[1020px] w-full drop-shadow-3xl border-2 border-onyx" />
    </a>
</div>    

  </li>)}
  </div>

      <Websites />




    <Footer />
    </div>
</section>